nav[role=navigation] {
	box-sizing: border-box;
    padding-top: 10px;
    background-color: @navigationBackgroundColor;
    font-family: @sansFontFamily;
    color: @white;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: @zIndexNav;
    -webkit-transition: left 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9);
    transition: left 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9);
    .clearfix();
    .site-nav-scrollable-container {
        h1 {
            font-family: @serifFontFamily;
            font-size: 36px;
            line-height: 48px;
            text-align: center;
            margin: 0;
            padding: 0 0 10px;
        }
        form {
            text-align: center;
            padding-bottom: 25px;
            input {
                text-align: center;
                background-color: @grayDarker;
                border: 0 none;
                border-radius: @borderRadiusSmall;
                font-size: @fontSizeNav;
                color: @gray;
                line-height: @lineHeightNav;
                padding: 9px;
                margin: 0 auto;
                width: 80%;
                &:focus {
                    color: @teal;
                }
            }
        }
        a, a:visited, a:active, a:hover {
            color: @white !important;
            text-decoration: none;
        }
        > ul.nav-primary {
            padding: 0;
            margin: 0;
            > li {
                > a.nav-item {
                    display: inline-block;
                    padding: 20px;
                    font-size: 18px;
                    width: 210px;
                    vertical-align: top;
                    span {
                        position: relative;
                        display: block;
                        font-family: @sansFontFamily;
                        font-weight: @lightWeight;
                    }
                }
                > a.nav-add {
                    display: inline-block;
                    position: relative;
                    width: 60px;
                    height: 58px;
                    &:before {
                        color: @white;
                        font-size: 12px;
                        content: "\e61c";
                        .k-icons();
                        position: absolute;
                        top: 25px;
                        left: 24px;
                    }
                }
                .nav-notify {

                }
                &.active {
                    > ul {
                        display: block;
                    }
                    &.authors {
                        background-color: @authorsColor;
                    }
                    &.posts {
                        background-color: @postsColor;
                    }
                    &.characters {
                        background-color: @charactersColor;
                    }
                    &.books {
                        background-color: @booksColor;
                    }
                    &.personal {
                        background-color: @personalColor;
                    }
                }
                &:hover {
                    &.authors {
                        background-color: @authorsColor;
                        color: mix(@postsColor, @bodyBackgroundColor, 80%);
                    }
                    &.posts {
                        background-color: @postsColor;
                        color: mix(@postsColor, @bodyBackgroundColor, 80%);
                    }
                    &.characters {
                        background-color: @charactersColor;
                    }
                    &.books {
                        background-color: @booksColor;
                    }
                    &.personal {
                        background-color: @personalColor;
                    }
                }
                &.personal {
                    > a {
                        span {
                            .icon-avatar-before();
                        }
                    }
                }
                &.posts {
                    > a.nav-item {
                        width: 145px;
                        span {
                            .icon-post-before();
                        }
                    }
                }
                &.books {
                    > a.nav-item {
                        width: 145px;
                        span {
                            .icon-book-before();
                        }
                    }
                }
                &.characters {
                    > a {
                        span {
                            .icon-character-before();
                        }
                    }
                }
                &.authors {
                    > a {
                        span {
                            .icon-author-before();
                        }
                    }
                }
                .nav-add {
                    position: relative;
                    width: 30px;
                    height: 58px;
                    top: 0px;
                    //    left: 10px;
                    &:before {
                        color: @white;
                        font-size: 15px;
                        content: "\e61c";
                        .k-icons();
                        position: absolute;
                        top: 20px;
                        left: 7px;
                    }
                }
            }
        }
        > ul.nav-secondary {
            padding: 0;
            margin: 0;
            > li {
                padding: 0px 10px;
                > a {
                    display: block;
                    padding: 20px 10px;
                    font-size: 14px;
                    border-top: 1px solid @gray;
                    span {
                        position: relative;
                        display: block;
                        margin: 0 auto;
                        font-family: @sansFontFamily;
                        font-weight: @lightWeight;
                    }
                }
                &.settings {
                    > a {
                        span {
                            .icon-cog-before();
                        }
                        &:hover {
                            span{
                                color: white;
                            }
                        }
                    }
                }
                &.logout {
                    > a {
                        span {
                            .icon-logout-before();
                        }
                    }
                }
            }
        }
    }
}

#active-nav-overlay {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    background-color: @white;
    opacity: 0.1;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: @zIndexOverlay;
}

nav[role=navigation] {
    width: 250px;
    left: -250px;
}

main[role=main] {
    transition: transform 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s;
}

.js-site-nav {
    main[role=main] {
        transform: translate3d(250px, 0px, 0px);
        position: fixed;
        left: 0;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }
    #active-nav-overlay {
        display: block;
    }
    nav[role=navigation] {
        left: 0;
    }
}
