nav[role=navigation] {
	background-color: #efefef;
	position: fixed;
	top: 0;
	bottom: 0;
	z-index: 3000;
	-webkit-transition: left 0.5s ease-in-out;
	transition: left 0.5s ease-in-out;
	.clearfix();
}
main[role=main] {
	padding: 0 2%;
	z-index: 1000;
	.clearfix();
}
nav[role=complementary] {
	background-color: #efefef;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 2000;
	-webkit-transition: right 0.5s ease-in-out;
	transition: right 0.5s ease-in-out;
	.clearfix();
	.page-utils-scrollable-container {
		height: 100%;
	}
}
.js-utils-nav {
	nav[role=complementary] {
		right: 0;
	}
}
.js-site-nav {
	nav[role=navigation] {
		left: 0;
	}
}
@media screen and (max-width: 45em) {
	nav[role=navigation] {
		width: 80%;
		left: -80%;
	}
	nav[role=complementary] {
		width: 80%;
		right: -80%;
	}
	main[role=main] {
		margin: 0 5%;
	}
}

@media screen and (min-width: 45em) {
	main[role=main] {
		margin: 0 20%;
	}
	nav[role=navigation] {
		width: 20%;
		left: -20%;
	}
	nav[role=complementary] {
		width: 20%;
		right: -20%;
	}
}