html {
	font-size: 62.5%;
	height: 100%;
}
body {
	color: @black;
	min-width: 20em;
	font-size: 1.4rem;
	position: relative;
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	font-family: @serifFontFamily;
}
a {
	color: @black;
	text-decoration: none;
}
body.k-posts {
	border-top: @pageBorder solid @postsColor;
	.contextual-colors(@postsColor);
}
body.k-books {
	border-top: @pageBorder solid @booksColor;
	.contextual-colors(@booksColor);
}
body.k-user {
	border-top: @pageBorder solid @personalColor;
	.contextual-colors(@personalColor);
}
button {
	background: none;
	border: 0 none;
	color: @black;
	.box-sizing('border-box');
	text-align: left;
	padding: 0;
	margin: 0;
	font-family: @sansFontFamily;
	vertical-align: middle;
	cursor: pointer;
}
#fixed-nav {
	position: fixed;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	.logo {
		position: absolute;
		top: 20px;
		left: 20px;
		text-align: left;
		border-radius: 500px;
		background-color: @grayDark;
		@size: 35px;
		font-size: @size;
		width: @size;
		height: @size;
		display: inline-block;
		color: @white;
		font-family: @serifFontFamily;
        font-weight: @lightWeight;
		&:before {
			content: "k";
			display: inline-block;
			font-size: 1.19em;
			line-height: 0.92em;
			border-radius: 0 none;
			text-indent: 0.1em;
		}
		&:after {
			content: ".";
			left: 0.8em;
			font-size: 0.8em;
			display: inline-block;
			position: absolute;
			top: 0.23em;
		}
		&:hover {
			&:before {
				.icon-stroke();
				content: "\e53d";
				font-size: 0.6em;
				line-height: 1.64em;
				text-indent: 0.32em;
			}
			&:after {
				content: "";
			}
		}
	}
	#btn-add-favorite {
		position: absolute;
		top: 25px;
		right: 25px;
		border-radius: 500px;
		border: 2px solid @grayLight;
		display: block;
		width: 35px;
		height: 35px;
		&:before {
			color: @grayLight;
			font-size: 21px;
			content: "\e0b5";
			.icon-solid();
			top: 7px;
			left: 7px;
		}
	}
    #btn-edit {
        position: absolute;
        top: 25px;
        right: 75px;
        border-radius: 500px;
        border: 2px solid @grayLight;
        display: block;
        width: 35px;
        height: 35px;
        &:before {
            color: @grayLight;
            font-size: 21px;
            content: "\e0b5";
            .icon-solid();
            top: 7px;
            left: 7px;
        }
    }
}
.outer-content-wrapper {
	z-index: @zIndexMain;
	height: 100%;
	overflow: auto;
	.inner-content-wrapper {
		height: 100%;
	}
}
.content-container {
	.container();
	position: relative;

	.form-container, .index-container {
		header {
			h1 {
				//border-bottom: 2px solid @grayLightest;
			}
		}
	}

	header {
        padding: 30px 20px 0 20px;
		margin-bottom: 45px;
		> h1 {
            .title();
			margin: 0;
		}
		> nav {
            text-align:center;
			> ul {
				padding: 0;
                display: inline-block;
				.clearfix();
				> li {
                    .detail();
					float: left;
					display: inline-block;
                    padding: 10px 5px;
					> a {
                        .detail();
					}
                    &.active{
                        font-weight: @boldWeight;
                    }
				}
			}
		}
		small {
            .attribution();
			display: block;
			text-align: center;
		}
	}
	.index-container {
		.index {
			> ul {
				padding: 0;
				margin: 0;
                > button {
                    display: inline-block;
                }
				> li {
					padding: 0 20px 15px 20px;
                    .listing {
                        display: inline-block;
                        > h2 {
                            .listTitle();
                            line-height: 1;
                            padding-bottom: 6px;
                            margin: 0;
                            > a {
                                display: block;
                            }
                        }
                        > small {
                            .attribution();
                            display: block;
                            > time {

                            }
                        }
                    }
				}
			}
		}
	}
	.post-container {
		header.stuck {
			position: fixed;
			border-bottom: 1px solid @grayLighter;
			background-color: @white;
            width: 600px;
			padding: 10px;
			top: @pageBorder;
			h1 {
				padding: 0;
				margin: 0;
				font-size: 20px;
				line-height: auto;
			}
			small {
				display: none;
			}
		}
	}
	.content-body {
		padding: 0 20px;
		p {
            .body();
			margin: 0 0 45px;
		}
        section {
            padding: 0;
        }
	}
	.social-actions {
        text-align: center;
		> ul {
            padding: 0;
            li {
                display: inline-block;
            }
            a {
                border-radius: 500px;
                border: 2px solid @grayLight;
                display: inline-block;
                width: 50px;
                height: 50px;
                position: relative;
                &.btn-facebook {
                    &:before {
                        .icon-social();
                        content: "\e7d0";
                        top: 2px;
                        left: 12px;
                        color: @grayLight;
                        line-height: 47px;
                        font-size: 24px;
                    }
                }
                &.btn-email {
                    &:before {
                        .icon-solid();
                        content: "\e0ad";
                        top: 2px;
                        left: 12px;
                        color: @grayLight;
                        line-height: 47px;
                        font-size: 24px;
                    }
                }
                &.btn-favorite {
                    &:before {
                        .icon-solid();
                        content: "\e0b6";
                        top: 3px;
                        left: 14px;
                        color: @grayLight;
                        line-height: 47px;
                        font-size: 24px;
                    }
                }
                &.btn-twitter {
                    &:before {
                        .icon-social();
                        content: "\e7d1";
                        top: 2px;
                        left: 12px;
                        color: @grayLight;
                        line-height: 47px;
                        font-size: 24px;
                    }
                }
            }
        }
	}
	.tags {
		text-align: center;
		font-family: @sansFontFamily;
		padding: 30px 0;
		ul {
			margin: 0 auto;
			display: inline-block;
			position: relative;
			padding: 0;
			font-size: 15px;
			line-height: 22px;
			li {
                .detail();
                color: @gray;
				display: inline-block;
				padding-left: 2px;
				&:after {
					content: ",";
				}
//				&:first-child {
//					padding-left: 25px;
//				}
				&:last-child {
					&:after {
						content: "";
					}
				}
                > a {
                    .detail();
                    color: @gray;
                }
			}
		}
	}
	figure.content-author, footer {
        .border-top();
		padding: 20px 20px 40px;
		font-family: @sansFontFamily;
		.clearfix();
	}
	figure.content-author {
		.border-top();
		padding: 20px 20px 40px;
		.clearfix();
		.img-wrapper {
			width: 50px;
			display: inline-block;
			float: left;
			text-align: center;
            padding: 0 15px 0 0;
			img {
				width: 50px;
//				border-radius: 50px;
//				border: 2px solid @grayLightest;
			}
		}
		.bio {
			width: 485px;
			float: left;
			display: inline-block;
			h2 {
				.detail();
				margin: 0;
				font-weight: @boldWeight;
                color: @gray;
                > a {
                    .detail();
                    font-weight: @boldWeight;
                    color: @gray;
                }
			}
			p {
                .detail();
				margin: 0;
                color: @gray;
			}
		}
	}
	footer {
		h2 {
            .detail();
            margin: 0;
            font-weight: @boldWeight;
            color: @gray;
		}
		p {
            .detail();
            margin: 0;
            color: @gray;
			margin-bottom: 20px;
			a {
                .detail();
                color: @gray;
			}
		}
		a.btn-report {
			position: relative;
			display: inline-block;
			float: right;
			color: @grayLight;
			padding-left: 20px;
			&:before {
				.icon-stroke();
				content: "\e4ad";
				left: 0;
			}
		}
	}
}
div.upcoming {
	width: 60%;
	padding: 70px 20%;
	text-align: center;
	position: relative;
	&:before {
		position: absolute;
		top: 0;
		left: 50%;
		content: "";
		border-width: 15px 60px;
		border-color: transparent;
		border-style: solid;
		border-top-color: @bodyBackgroundColor;
		margin-top: 0;
		margin-left: -60px;
	}
	a {
		.container();
		padding: 0;
		color: @white;
		font-size: 44px;
		line-height: auto;
		&:hover {
			color: @white;
		}
	}
	small {
		color: @white;
		display: block;
		padding-top: 7px;
		font-family: @sansFontFamily;
		font-size: 13px;
		line-height: auto;
	}
}

ul.expandable, .content-container section {
	padding: 0 20px;
	margin: 0;
	font-family: @sansFontFamily;
	h2 {
		margin: 0;
		font-size: 18px;
		line-height: 24px;
		display: block;
		position: relative;
		font-weight: bold;
	}
}
ul.expandable > li, .content-container section > h2 {
	border-top: 1px solid @grayLightest;
}
.content-container section > h2, ul.expandable > li > h2 > button {
	padding: 20px 20px 20px 54px;
	display: block;
	position: relative;
}
.content-container section > h2, ul.expandable > li > h2 {
	&:before {
		.flaticon-solid();
		.expandable-icon();
	}
}
ul.expandable > li , .content-container section {
	p.notice {
		padding: 0 20px 0 54px;
		margin-top: 0;
		font-size: 15px;
		line-height: 18px;
	}
	&.chapters > h2:before {
		font-family: 'Flaticons Stroke';
		content: "\e540";
	}
	&.authors > h2:before {
		content: "\e0a6";
	}
	&.characters > h2:before {
		content: "\e0ca";
	}
	&.comments > h2:before {
		content: "\e03b";
	}
	&.connections > h2:before {
		content: "\e0bb";
	}
	&.add-posts > h2:before {
		font-family: 'Flaticons Stroke';
		text-indent: 5px;
		content: "\e5a0";
	}
}
ul.expandable {
	> li {
		> h2 {
			&:hover {
				background-color: @grayLightest;
			}
			button {
				width: 100%;
				&:after {
					.icon-solid();
					content: "\e1c2";
					right: 20px;
					top: 20px;
				}
			}
		}
		&.open {
			> h2 {
				background-color: @grayLightest;
				button {
					&:after {
						content: "\e1c1";
					}
				}
			}
			> div.details {
				display: block;
			}
		}
		> div.details {
			display: none;
		}
	}
}