html {
	font-size: 62.5%;
	height: 100%;
}
body {
	color: @black;
	min-width: 20em;
	font-size: 1.4rem;
	position: relative;
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	font-family: @serifFontFamily;
}
a {
	color: @black;
	text-decoration: none;
}
form {
    padding: 10px 15px 0;
    input {
        .info;
        background-color: @bodyBackgroundColor;
        border: 1px solid @grayLighter;
        border-radius: 4px;
        padding: 8px;
        margin: 10px 0;
        width: 550px;
        &:focus {
            border-color: @teal;
        }
    }
}

body.k-user {
    border-top: @pageBorder solid @personalColor;
    .contextual-colors(@personalColor);
}
body.k-posts {
	border-top: @pageBorder solid @postsColor;
	.contextual-colors(@postsColor);
}
body.k-books {
	border-top: @pageBorder solid @booksColor;
	.contextual-colors(@booksColor);
}
body.k-characters {
    border-top: @pageBorder solid @charactersColor;
    .contextual-colors(@charactersColor);
}
body.k-authors {
    border-top: @pageBorder solid @authorsColor;
    .contextual-colors(@authorsColor);
}

#fixed-nav {
	position: fixed;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
    #draft-bar {
        background-color: @teal;
        position: relative;
        vertical-align: top;
        h2 {
            .edit-head;
            color: @bodyBackgroundColor;
            display: inline-block;
            position: relative;
            left: 0px;
            top: 0px;
            line-height: 15px;
            width: 48%;
            margin: 0;
            padding: 10px;
        }
        p {
            font-size: 12px;
            font-family: @sansFontFamily;
            font-weight: @lightWeight;
            color: @bodyBackgroundColor;
            display: inline-block;
            position: relative;
            text-align: right;
            right: 0px;
            top: 0px;
            width: 48%;
            margin: 0;
            padding: 10px;
        }
    }
}
.outer-content-wrapper {
	z-index: @zIndexMain;
	height: 100%;
	overflow: auto;
	.inner-content-wrapper {
		height: 100%;
	}
}
.content-container {
	.container();
	position: relative;
	header {
        padding: 30px 20px 0 20px;
		margin-bottom: 45px;
		> h1 {
            .title();
			margin: 0;
            section {
                .title();
                padding: 0;
                p {
                    margin: 0;
                }
            }
		}
		> nav {
            text-align:center;
			> ul {
				padding: 0;
                margin-top: 0;
                display: inline-block;
				.clearfix();
				> li {
                    .detail();
					float: left;
					display: inline-block;
                    padding: 10px 0;
                    &:before{
                        color: @grayLightest;
                        content: "|";
                        padding: 0 5px 0;
                    }
                    &:first-child{
                        &:before{
                            content: "";
                        }
                    }
					> a {
                        .detail();
					}
                    &.active{
                        font-weight: @boldWeight;
                    }
				}
			}
		}
		small {
            .attribution();
			display: block;
			text-align: center;
		}
	}
    #opus {
        #post-body {
            section {
                padding: 0;
                p {
                    .body();
                    margin: 0;
                }
            }
            p {
                .body();
                span{

                }
            }
        }
    }
	.index-container {
		.index {
			> ul.result-listings {
				padding: 0;
				margin: 0;
				> li {
                    padding: 0 0 20px 0;
                    > button {
                        display: inline-block;
                        vertical-align: top;
                    }
                    .listing {
                        display: inline-block;
                        width: 540px;
                        position: relative;
                        top: 0px;
                        left: 10px;
                        > h2 {
                            .listTitle();
                            padding: 2px 0 4px;
                            margin: 0;
                            > a {
                                display: block;
                                section {
                                    .listTitle();
                                    padding: 0;
                                    p {
                                        margin: 0;
                                    }
                                }
                            }
                        }
                        > small {
                            .attribution();
                            display: block;
                            > time {

                            }
                        }
                    }
				}
			}
		}
	}
	.post-container {
		header.stuck {
			position: fixed;
			border-bottom: 1px solid @grayLighter;
			background-color: @white;
            width: 600px;
			padding: 10px;
			top: @pageBorder;
			h1 {
				padding: 0;
				margin: 0;
				font-size: 20px;
				line-height: auto;
			}
			small {
				display: none;
			}
		}
	}
	.content-body {
		padding: 0 20px;
		p {
            .body();
			margin: 0 0 45px;
		}
        section {
            padding: 0;
        }
	}
	.social-actions {
        text-align: center;
		> ul {
            padding: 0;
            margin-bottom: 0;
            li {
                display: inline-block;
                padding: 2px;
            }
            button {
                border-radius: 500px;
                border: 2px solid @grayDarker;
                display: inline-block;
                width: 35px;
                height: 35px;
                position: relative;
                &.btn-facebook {
                    &:before {
                        .k-icons();
                        content: "\e605";
                        color: @grayDarker;
                        position: relative;
                        left: 7px;
                        top: 1px;
                        font-size: 20px;
                    }
                }

                &.btn-email {
                    &:before {
                        .k-icons();
                        content: "\e604";
                        color: @grayDarker;
                        position: relative;
                        left: 7px;
                        top: 1px;
                        font-size: 16px;
                    }
                }
                &.btn-recommend {
                    &:before {
                        .k-icons();
                        content: "\e606";
                        color: @grayDarker;
                        position: relative;
                        left: 7px;
                        top: 2px;
                        font-size: 18px;
                    }
                }
                &.btn-twitter {
                    &:before {
                        .k-icons();
                        content: "\e60e";
                        color: @grayDarker;
                        position: relative;
                        left: 6px;
                        top: 2px;
                        font-size: 18px;
                    }
                }
            }
        }
	}
	.tags {
		text-align: center;
		font-family: @sansFontFamily;
		padding: 20px 0 40px 0;
		ul {
			margin: 0 auto;
			display: inline-block;
			position: relative;
			padding: 0;
			font-size: 15px;
			line-height: 22px;
			li {
                .detail();
                color: @gray;
				display: inline-block;
				padding-left: 2px;
				&:after {
					content: ",";
				}
//				&:first-child {
//					padding-left: 25px;
//				}
				&:last-child {
					&:after {
						content: "";
					}
				}
                > a {
                    .detail();
                    color: @gray;
                }
			}
		}
	}
	figure.content-author, footer {
        .border-top();
		padding: 20px 20px 40px;
		font-family: @sansFontFamily;
		.clearfix();
	}
	figure.content-author {
		.border-top();
		padding: 20px 20px 40px;
		.clearfix();
		.img-wrapper {
			width: 50px;
			display: inline-block;
			float: left;
			text-align: center;
            padding: 0 15px 0 0;
			img {
				width: 50px;
			}
		}
		.bio {
			width: 485px;
			float: left;
			display: inline-block;
			h2 {
				.detail();
				margin: 0;
				font-weight: @boldWeight;
                color: @gray;
                > a {
                    .detail();
                    font-weight: @boldWeight;
                    color: @gray;
                }
			}
			p {
                .detail();
				margin: 0;
                color: @gray;
			}
		}
	}
	footer {
		h2 {
            .detail();
            margin: 0;
            font-weight: @boldWeight;
            color: @gray;
		}
		p {
            .detail();
            margin: 0;
            color: @gray;
			margin-bottom: 20px;
			a {
                .detail();
                color: @gray;
			}
		}
	}

    #edit-options {
        margin-top: 75px;
        width: 600px;
        h2 {
            .edit-head;
            display: block;
            padding: 5px 15px;
            margin: 0;
        }
        p {
            .info;
            padding: 0 15px
        }
        ul {
            margin: 1em 0;
            li {
                .info;
                list-style: disc;
                margin-top: 5px;
            }
        }
        #edit-actions{
            border-top: 1px solid @grayLightest;
            padding: 10px 15px;
            .edit-more {
                color: @grayLighter;
                font-size: 18px;
                font-weight: @lightWeight;
                line-height: auto;
                font-family: @sansFontFamily;
                display: inline-block;
                padding-right: 340px;
                &:after {
                    .k-icons();
                    content: "\e610";
                    color: @grayLighter;
                    position: relative;
                    left: 7px;
                    font-size: 10px;
                }
            }
            .edit-save {
                display: inline-block;
            }
            .edit-publish {
                display: inline-block;
                margin-left: 10px;
            }
        }
        #edit-details{
            padding-bottom: 40px;
//            .hidden();
            figure {
                padding-bottom: 30px;
            }
            .edit-tags {
                ul {
                    padding: 0;
                    margin: 0;
                    li {
//                        border: 1px solid @red;
                        display: inline-block;
                        padding: 0px;
                        margin-right: 5px;
                        a {
                            color: @gray;
                            display: inline-block;
                            &:before {
                                .k-icons();
                                content: "\e60f";
                                color: @grayLight;
                                font-size: 7px;
                                position: relative;
                                right: 3px;
                                border-radius: 500px;
                                border: 1px solid @grayLight;
                                display: inline-block;
                                width: 10px;
                                height: 10px;
                                bottom: 3px;
                            }
                            &:hover {
                                text-decoration: line-through;
                            }
                        }
                        &:after {
                            content: ",";
                            display: inline-block;
                        }
                        &:last-child {
                            &:after {
                                content: "";
                            }
                        }
                    }
                }
            }
            .edit-rights {

            }
            .edit-share {

            }
            .edit-delete {

            }
        }
    }
}
div.upcoming {
	width: 60%;
	padding: 70px 20%;
	text-align: center;
	position: relative;
	&:before {
		position: absolute;
		top: 0;
		left: 50%;
		content: "";
		border-width: 15px 60px;
		border-color: transparent;
		border-style: solid;
		border-top-color: @bodyBackgroundColor;
		margin-top: 0;
		margin-left: -60px;
	}
	a {
		.container();
		padding: 0;
		color: @white;
		font-size: 44px;
		line-height: auto;
		&:hover {
			color: @white;
		}
	}
	small {
		color: @white;
		display: block;
		padding-top: 7px;
		font-family: @sansFontFamily;
		font-size: 13px;
		line-height: auto;
	}
}

.content-container section > h2, ul.expandable > li > h2 > button {
	padding: 20px 20px 20px 54px;
	display: block;
	position: relative;
}
.content-container section > h2, ul.expandable > li > h2 {
	&:before {
		.expandable-icon();
	}
}
ul.expandable {
	> li {
		> h2 {
			&:hover {
				background-color: @grayLightest;
			}
			button {
				width: 100%;
				&:after {
					.icon-solid();
					content: "\e1c2";
					right: 20px;
					top: 20px;
				}
			}
		}
		&.open {
			> h2 {
				background-color: @grayLightest;
				button {
					&:after {
						content: "\e1c1";
					}
				}
			}
			> div.details {
				display: block;
			}
		}
		> div.details {
			display: none;
		}
	}
}